.card.border-success
  .card-body
    h4.card-title.text-success Export
    p.card-text
      | チケットをエクセル形式にエクスポートし、「
      strong #{workbookname}
      | 」という名前でダウンロードします。
    .text-right.my-3
      button#export-submit.btn.btn-success(type='button') Export
    #export-result