.card.border-success
  .card-body
    h4.card-title.text-success Export
    p.card-text エクセル形式の帳票をダウンロードします。
    .text-right.my-3
      button#export-submit.btn.btn-success(type='button') Export
    #export-result