table.table.table-sm#block-targettable
  thead
    tr.row
      th.col-3(scope='col') #
      th.col-9(scope='col') 対象
  tbody
    tr.row
      th.col-3 template:
      td.col-9 #{template_name}
    tr.row
      th.col-3 project_id:
      td.col-9 #{project_id}
    tr.row
      th.col-3 tracker_id:
      td.col-9 #{tracker_id}
