extends layout

block content
  .container
    h1 Redmine Xio
    p.lead Redmine Xlsx Input-Output tool.
    
    h4 Usage
    dl.row
      dt.col-sm-3
        a(href='/redmine/issues/1') /redmine/issues/1
      dd.col-sm-9 ID#1のチケットの入出力を行います。
      dt.col-sm-3
        a(href='/redmine/issues/new') /redmine/issues/new
      dd.col-sm-9 新しいチケットを作成します。
