extends layout

block title
  title Import/Export | Redmine Xio

block content
  .container
    .row
      .col-md-6.py-3
        h1 Import/Export Ticket
        p.lead チケットに対して処理を行います。
      .col-md-6.py-3
        .form-group
          label(for='current-data') 現在のデータ:
          textarea#current-data.form-control(rows='3', readonly='')
    .row
      .col-md-6.py-3
        include import
      .col-md-6.py-3
        include export

block additional-script
  script(src='/javascripts/core.js', id='core', data-issue='#{issue}', data-template='#{template}')