extends layout

block title
  title Import/Export | Redmine Xio

block content
  .container
    .row
      .col-6.py-3
        h1 Import/Export Ticket
        p.lead チケットに対して処理を行います。
      .col-6.py-3
        include components/template
    hr
    .row
      .col-4.py-3
        include components/import
        include components/export
      .col-8.py-3
        include components/postdata

block additional-script
  script(src='/javascripts/core.js', id='core', data-currentdata='#{currentdata}', data-template='#{template}', data-switch_user='#{switch_user}', data-host_name='#{host_name}')
