- var title='redmine-xlsx'
- var description='Redmine issue to Excel File Format (.xlsx) Conversion Tool.'

doctype html
html
  head
    title=title
    meta(name='description', content='#{description}')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
  body
    .container
      block content

    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/node_modules/xlsx-populate/browser/xlsx-populate.js')
    script(src='/node_modules/moment/min/moment.min.js')

    block additional-script
