extends layout

block title
  title New Tickets | Redmine Xio

block content
  .container
    .row
      .col-md-6.py-3
        h1 Import New Ticket
        p.lead 新しいチケットを登録します。
    .row
      .col-md-6.py-3
        .card.border-success
          .card-body
            h4.card-title.text-success Select Mapping Table
            .form-group
              label(for='template-selector') マッピングテーブルを選択します。
              select#template-selector.form-control
      .col-md-6.py-3
        include import

block additional-script
  script(src='/javascripts/core.js', id='core', data-template='#{template}')