extends layout

block title
  title New Tickets | Redmine Xio

block content
  .container
    .row
      .col-6.py-3
        h1 Import New Ticket
        p.lead 新しいチケットを登録します。
      .col-6.py-3
        include block-template
    hr
    .row
      .col-4.py-3
        include block-import
      .col-8.py-3
        include block-postdata

block additional-script
  script(src='/javascripts/core.js', id='core', data-postdata='#{postdata}', data-template_name='#{template_name}', data-mapping_table='#{mapping_table}')
