extends layout

block title
  title New Tickets | Redmine Xio

block content
  .container
    .row
      .col-6.py-3
        h1 Import New Ticket
        p.lead 新しいチケットを登録します。
      .col-6.py-3
        include components/template
    hr
    .row
      .col-4.py-3
        include components/import
      .col-8.py-3
        include components/postdata

block additional-script
  script(src='/javascripts/core.js', id='core', data-postdata='#{postdata}', data-template='#{template}', data-switch_user='#{switch_user}', data-host_name='#{host_name}')